html {
    height: 100vh;
}

* :not(p, h2){
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    background-color: #d7d7d7;
    height:100%;
}

#root {
    background-color: rgb(245, 245, 245);
    width: 85%;
    margin: 0 auto;
    display:grid;
    grid-template-rows: minmax(0, 100%) min-content;
    height: 100%;
}

#upperroot {
    display:grid;
    grid-template-columns: 22% 78%;
}

#statusbar {
    background: rgb(163, 163, 163);
    overflow:hidden;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px;
}

#statusbar span {
    text-shadow: -1px -1px rgba(0,0,0,0.5), 1px 1px rgba(255,255,255,0.5);
    color: rgba(0,0,0,0.5);
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
}

.status {
    justify-self: end;
}

#content {
    overflow:hidden;
}

#chat {
    display: flex;
    flex-direction: column;
    height:100%;
}

#chat_info {
    padding: 5px;
    border-bottom: 1px solid black;
}

#chat_messages {
    overflow-y: scroll;
    flex: 1;
    padding: 5px 5px;
    display:flex;
    flex-direction: column;
}

.message {
    background: #c9e1e2;
    padding: 7px;
    margin: 10px 5px;
    border-radius: 10px;
    align-self: flex-start;
    min-width: 20%;
}

.message_timestamp {
    font-size: 0.8em;
}

#chat_textarea {
    min-height: 15%;
    padding: 5px 10px;
}

#chat_textarea textarea {
    height:100%;
    width:100%;
    box-sizing: border-box;
    resize: none;
}

#adduser {
    padding: 5px;
}

#leftmenu {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    overflow: hidden;
    height:100%;
}

#userprofile {
    border-bottom: 1px solid black;
    padding: 8px 5px;
}

#userprofile ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#conversations {
    flex:1;
    overflow: hidden;
}

#conversations:hover {
    overflow-y: auto;
}

.conversation {
    background: #ebebeb;
    padding: 10px 5px;
}

.conversation:hover {
    cursor: pointer;
}

#user_requests {
    overflow-y: auto;
    height: 100%;
}

.user_request {
    word-break: break-all;
    background: #d7d7d7;
    border: 1px dashed black;
    margin: 5px;
    padding: 5px;
}

.userRequest span {
    font-style: italic;
}